#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.navbar .nav-item.dropdown {
  position: static;
}

.navbar .dropdown-menu.mega-menu {
  width: 100%;
  left: 0 !important;
  transform: none !important;
}
.navbar-toggler {
  border: none;
  outline:none;
  background-color: orange; 
  border-radius: 5px;   
}
.navbar-toggle:hover{
  background-color: white;
  border-color: orange;
}
.navbar-toggler-icon{
  color:orange;
}
.btn:hover{
  background-color: white;
  color:orangered;
  border-color: orangered;

}

.dropdown-menu{
  left: auto !important;
  transform: none;
}

.nav-link:hover{
  color: orangered;
}

.h5color{
  color: orangered;
 
}

.mega-menu {
  max-height: 100vh;   /* limit height to viewport */
  overflow-y: auto;   /* enable vertical scroll */
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width:500px){
  .logo{
    width:100px;
    
  }
  .carousel-item img{
    height: 200px;
   object-fit:cover;
  }
}

@media (min-width: 992px) { 
  .navbar .dropdown-menu.mega-menu { 
  left: 50% !important; 
  transform: translateX(-50%) !important;
   max-width: 1200px; 
  }
 }

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
