#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar .nav-item.dropdown {
  position: static;
}

.navbar .dropdown-menu.mega-menu {
  width: 100%;
  left: 0 !important;
  transform: none !important;
}

.dropdown-menu{
  left: auto !important;
  transform: none;
}

.nav-link:hover{
  color: orangered;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 992px) { 
  .navbar .dropdown-menu.mega-menu { 
  left: 50% !important; 
  transform: translateX(-50%) !important;
   max-width: 1200px; 
  }
 }

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
